<script src="/js/vendor/prism.js"></script>
<main id="main">
    <div class="line">
        <div class="wrap">
            <div class="docs-wrap cf">
                <nav class="docs-menu mt-none">
                    <div>
                        <?js= nav ?>
                    </div>
                </nav>
                <div class="docs-content mleft">
                    <?js= content ?>
                </div>
            </div>
        </div>
    </div>
</main>
