<?js
    var params = obj;

    /* sort subparams under their parent params (like opts.classname) */
    var parentParam = null;
    params.forEach(function(param, i) {
        var paramRegExp;

        if (!param) {
            return;
        }

        if (parentParam && parentParam.name && param.name) {
            paramRegExp = new RegExp('^(?:' + parentParam.name + '(?:\\[\\])*)\\.(.+)$');

            if ( paramRegExp.test(param.name) ) {
                param.name = RegExp.$1;
                parentParam.subparams = parentParam.subparams || [];
                parentParam.subparams.push(param);
                params[i] = null;
            }
            else {
                parentParam = param;
            }
        }
        else {
            parentParam = param;
        }
    });

    /* determine if we need extra columns, "attributes" and "default" */
    params.hasAttributes = false;
    params.hasDefault = false;
    params.hasName = false;

    params.forEach(function(param) {
        if (!param) { return; }

        if (param.optional || param.nullable || param.variable) {
            params.hasAttributes = true;
        }

        if (param.name) {
            params.hasName = true;
        }

        if (typeof param.defaultvalue !== 'undefined') {
            params.hasDefault = true;
        }
    });
?>

<div class="params">
<ul>

    <?js
        var self = this;
        params.forEach(function(param) {
            if (!param) { return; }
    ?>

        <li>
            <?js if (params.hasName) {?>
                <b><code><?js= param.name ?></code></b>
            <?js } ?>

            <?js if (param.type && param.type.names) {?>
                <?js= self.partial('type.tmpl', param.type.names) ?>
            <?js } ?>

            <?js if (params.hasAttributes) {?>
                <?js if (param.optional) { ?>
                    &lt;optional>
                <?js } ?>

                <?js if (param.nullable) { ?>
                    &lt;nullable>
                <?js } ?>

                <?js if (param.variable) { ?>
                    &lt;repeatable>
                <?js } ?>
            <?js } ?>


            <?js if (param.description || params.hasDefault) { ?>
                 <?js= ' - ' ?>
            <?js } ?>
            <?js if (param.description) { ?>
                   <?js= param.description.replace("<p>", "").replace("</p>", "")+' ' ?>
            <?js } ?>
            <?js if (params.hasDefault) {?>
                    <?js if (typeof param.defaultvalue !== 'undefined') { ?>
                           <?js= 'Defaults to <code>'+param.defaultvalue+'</code>.' ?>
                    <?js } ?>
            <?js } ?>
            <?js if (param.subparams) { ?>
                <?js= self.partial('params.tmpl', param.subparams) ?>
            <?js } ?>
        </li>

    <?js }); ?>
</ul>
</div>

